################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/CarRentPlatform/appsettings.Development.json
/CarRentPlatform/appsettings.json
bin/
obj/
.vs/
/CarRentPlatform.API/appsettings.json
/CarRentPlatform.API/appsettings.Development.json